/*
  ========================================
  Document
  ========================================
*/

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
  ========================================
  Sections
  ========================================
*/

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block; width:100%;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
  ========================================
  Grouping content
  ========================================
*/


/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
  ========================================
  Text-level semantics
  ========================================
*/   
   

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a,a:hover {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  ========================================
  Embedded content
  ========================================
*/   

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/*
  ========================================
  Forms
  ========================================
*/     

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
  ========================================
  Scripting
  ========================================
*/    

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/*
  ========================================
  Hidden
  ========================================
*/ 


/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

body{
  margin-top: 78px;
  font-family: 'Roboto', sans-serif;
}

/*StyleList*/
.bg-green, .bg-green:hover{
  background: #B2CE3D;
}
.bg-blue, .bg-blue:hover{
  background: #3C5067;
}
.text-white{
  color: #fff;
}
.text-blue{
  color: #3C5067;
}
.text-green{
  color: #B2CE3D;
}
.title{
  /* margin: 20px;
  padding: 20px 25px; */
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 1.6em;
}
@media (max-width: 767px) { 
  .title{
    margin: 40px auto;
  }
}


.romb{
  position: absolute;
  display: block;
  left: 46%;
  bottom: -28px;
  width: 55px;
  height: 55px;
  transform: rotate(45deg);
  background: inherit;
}

/*
  ========================================
  Header
  ========================================
*/ 
#menu{
}

.header .header-contacts {
    background-color: rgba(51, 70, 94, 1);
    height: 30px;
}
.header .header-contacts .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.header .header-contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.header .header-contact-item:not(.links) a {
    transition: 0.2s linear;
}

.header .header-contact-item:not(.links) a:hover {
    text-decoration: underline;
}

.header .header-contact-item .social-network-link:first-child {
    margin-right: 10px;
}

.header .header-contact-item .social-network-link {
    display: inline-block;
}

.header .header-contact-item .social-network-link img {
    width: 20px;
}

.header .navbar-wrap {
    width: 100%;
    background: #3C5067;
}

.header .navbar {   
    margin: auto;
}

.header .navbar-brand{
  text-align: right;
}

/*
  ========================================
  Navbar
  ========================================
*/ 
.header .navbar-dark .navbar-nav, .header .navbar-text{
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
}
.header .navbar-dark .navbar-nav .nav-link{
  color: #fff;
  border-bottom: solid 2px transparent;
  transition: .4s linear;
}
.header .navbar-dark .navbar-nav .nav-link:hover{
  border-bottom: solid 2px #A5C841;
  transition: .1s linear;
}
.header .navbar-dark .navbar-nav .nav-link:active{
  color: #B4D13E;
  transition: .1s linear;
}
.header .navbar-nav{
  width: 100%;
  margin: auto;
  justify-content: center;
  
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
    
}
.nav-item{
  padding: 0px;
  padding-left:  10px;
}
.header .navbar-text{
    
}

.navbar-nav-sub {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    background: white;
    padding: 20px;
    width: 220px;
    margin-top: 20px;    
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

ul.navbar-nav-sub  {
    list-style: none;    
}

.navbar-nav-sub:before {
    height: 20px;
    width: 20px;
    background-color: white;
    content: "";
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    left: 30px;
}

.navbar-nav-sub li {
    border-bottom: 1px solid #d4d4d4;
}

.navbar-nav-sub li:last-of-type {
    border-bottom: none;
}

.navbar-nav-sub li a {
    font-size: 16px;
    color: #33475f;    
}

.navbar-nav-sub li:hover a { 
    color: #d4d4d4;
}

.nav-item:hover .navbar-nav-sub {
    visibility: visible;    
    transition-delay: 0.3s, 0.3s, 0.3s;
}



@media (min-width:768px) and (max-width:992px) {
        .header .navbar{
       /* height: 138px;*/

       
    }
    
    .nav-item, .header .navbar-dark .navbar-nav, .header .navbar-text{
        font-size: 15px;  
        /* padding-top: 22px;*/        
    }
    
    .nav-item a {
        text-align: center;
        vertical-align: middle; 
    }
    
    .header .navbar-text{
       border-bottom: 5px transparent solid;
    }
    
    
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: .2rem;
        padding-right: .2rem;
    }
    
    
}


/*
@media (min-width:768px){
    .header .navbar-nav{
        padding: 2em 0.5em;
    }
    body{
        margin-top: 138px
    }
    
    .resized .navbar-nav {
        padding: 0.4em 1em;
    }
    
    
    
} */


@media (min-width:768px){
    
    .header .navbar-nav .dropdown-menu{
      margin-top: 1.6rem;
      padding: 1rem 2rem;
      border: 0px;
      border-radius: 0px;
    }
    .header .navbar-nav .dropdown-item{
      font-weight: 700;
      color: #3C5067;
      padding: 0.2rem 0rem;
      border-bottom: 1px solid #d4d4d4;
      width: 10rem;
    }
    .header .navbar-nav .dropdown-item:last-child{
      border-bottom: none;
    }
    .header .navbar-nav .dropdown-item:before{
      position: absolute;
      top: -40px;
      left: 40px;
      height: 0px;
      width: 0px;
      content: "";
      border: 20px solid transparent;
      border-bottom-color: #fff;
    }
    .header .navbar-nav .dropdown-toggle::after{
      display: none;
    }
    
    .dropdown-item.active, .dropdown-item:active {
        background-color: #f8f9fa;
    }
}

@media (max-width:767px){
  .header .navbar{
    padding-right: 2em;
  }
  .header .navbar-nav .dropdown-menu{
    background: #3C5067;
    border: 0px;
  }
  .header .navbar-nav .dropdown-item{
    color: #fff;
    border-bottom: 2px solid transparent;
  }
  .header .navbar-nav .dropdown-item:hover{
    background: #3C5067;
    border-color: #A5C841;
  }   
}


@media (max-width:768px){
     .header .navbar{
         padding-right: 2em;
     }
    .navbar {
        padding-top: .8rem;
    }
    
}

@media (max-width:576px){
    .navbar-toggler  {
        margin-top: -60px;
        z-index: 2;
    }
}

/* Slider 1 */

#carouselHeader {
  width: 100%;
  background: url(../img/bg/212.png);
}


.header .strip{
  position: absolute;
  right: 0;
  top: 110px;
  /*width: 30%;*/
}
.header .slide-desc{
  margin: 0px auto;
  padding: 50px 20px;
  width: 70%;
  vertical-align: middle;
}
.header .slide-desc h3{
  font-weight: bold;
  font-size: 2.3em;
  text-transform: uppercase;
}
.header .slide-desc p{
  font-size: 1.3em;
}

.header .slide-desc .btn,
.header nav a.btn{
  font-weight: bold;
  color: #3C5067;
  background: #B2CE3D;
  border-radius: 3px;
  transition: 0.2s linear;
  box-shadow: 0px 3px 10px 2px rgba(30,45,63, .75);
}
/*.header .slide-desc .btn:after{*/
  /*content: " >";*/
/*}*/
.header .slide-desc .btn:focus,
.header .slide-desc .btn:focus,
.header nav a.btn:focus{
    color: #4c6582;
    transition: 0.2s linear;
}
.header .slide-desc .btn:hover,
.header nav a.btn:hover{
    /*box-shadow: 0px 0px 15px -2px #B2CE3D;*/
    background-color: #c0dc4a;
    transition: 0.2s linear;
}

.carousel-item{
  overflow: hidden;
}


@media (max-width:767px){
    .header .strip{
        top: auto;
        bottom: 0px;
    }
    
    #carouselHeader .carousel-item img:first-of-type{ 
        width: 100%;
    }
    
    #carouselHeader .carousel-item img:last-of-type{ 
        max-height: 80%;
    }
}

@media (max-width: 992px){
  .header .slide-desc p{
    font-size: 16px;
  }
  .header .slide-desc h3{
    font-size: 1.6em;
  }
}
@media (min-width: 320px){
  .header .slide-desc{
    height: 520px;
  }
}
@media (min-width: 440px){
  .header .slide-desc{
    height: 420px;
  }
}
@media (min-width: 768px){
  .header .carousel-item{
    height: 480px;
  }
}
@media (min-width: 993px){
  .header .carousel-item{
    height: 500px;
  }
}
@media (min-width: 1140px){
  .header .carousel-item{
    height: 510px;
  }
}
@media (min-width: 1270px){
  .header .carousel-item{
    height: 420px;
}
}

/*
  ========================================
  Products
  ========================================
*/

.products{
  background: #f2f2f2;
  padding: 80px 0;
  /* padding-bottom: 30px; */
}

carousel-item{
  width: auto;
}

/* .products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
} */

.products .slick-slide {    
    margin-left: 20px;
}

.product_item{  
  /* width: 32%; */
  margin: 7px;  
  height: 400px;
  background: #B2CE3D;
  transition: .5s linear;
}
/*
.slick-slide:nth-of-type(1) .product_item{  
    background: #3C5067;
    color: white;
}
*/

.product_item img{  
    width: 100%;
}
.product_item:hover img {
    height: 0px;
    visibility: hidden;
   
}

.product_item__title {
    padding: 20px;
    color: #1c2664;
}

.product_item:hover h3{
    padding-top: 0;
}

.product_item p, .product_item .p {
    visibility: hidden;
    font-size: 12px;
}

.product_item .p ol, .product_item .p ul {
    padding-left: 15px;
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 15px;
}

.product_item .p span {
    font-size: 12px;
    font-style: italic;
}

.product_item:hover {
    vertical-align: bottom;
}

.product_item:hover p, .product_item:hover .p {
     visibility: visible;
     height: auto;
     padding: 20px;
     padding-top: 10px;
}

/*
  ========================================
  About Company
  ========================================
*/ 
.aboutCompany{
  background: #fff;
  padding: 80px 0;
}
.aboutCompany .card, .aboutCompany .card-img-top{
  border: 0px solid #fff;
  border-radius: 0px;
}
.aboutCompany .btn{
  width: auto;
  min-width: 200px;
  height: 48px;
  margin: 20px auto;
  border-radius: 0px;
  vertical-align: bottom;
  font-size: 1.4em;
  font-weight: 500;
}

.aboutCompany .card{
  /* margin-bottom: 40px; */
}
.aboutCompany .card-text{
  padding: 20px 28px;
  height: auto;
  text-align: left;
  font-size: 0.9rem;
}
.aboutCompany .card, .aboutCompany .card-block{
  height: 100%;
  text-align: center;
}
.aboutCompany .card-block{
  text-align: center;
}
@media (min-width:768px){
    .aboutCompany .btn{
    margin: 2em auto 0;
    }
}

@media (max-width:992px){
    .aboutCompany .card, .aboutCompany .card-block{
        height: auto;
    }
    
    .aboutCompany .card{
        margin-bottom: 0px;
    }
}


/* History */
.history{
  position: relative;
  padding: 60px 0px;
  background: url(../img/history/history.png);
}



.historyWrap{
  /* -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
  box-shadow: 0 0 15px rgba(0,0,0,.5); */
  background: #fff;
  width: 90%;
  max-width: 1140px;
  margin: auto;
}
.history .date{
  display: block;
  margin-top: -35px;
  padding: 18px 14px;
  width: 70px;
  height: 70px;
  font-weight: bold;
  color: #3C5067;
  border: 4px solid #3C5067;
  border-radius: 35px;
  background: #fff;
}


.history .date:before{
  content: url(../img/history/date_arrow_l.png);
  position: absolute;
  left: -3px;
  top: -18px;
}
.history .date:after{
  position: absolute;
  left: 79px;
  top: -18px;
  content: url(../img/history/date_arrow_r.png);

}

.history .date-today{
  margin-top: -41px;
  padding: 32px 10px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  font-weight: bold;
  color: #3C5067;
  background: #B2CE3D;
}
.history .date-today:before{
  position: absolute;
  top: -15px;
  left: -4px;
  content: url(../img/history/date_today_arrow_l.png);
}
.history .historyDesc{
  margin-top: 20px;
  padding: 0px 0px 0px 20px;
  width: 110%;
}

.history .historyDesc h3{
  font-weight: bold;
  font-size: 1.17em;
}
.history .historyDesc p{
  font-size: 0.8em;
}

.history  li:first-child .date:before {
    display: none !important;
}

.history li{
    list-style-type: none;
}
   
.history li:nth-of-type(5){
  border: none;
}

@media (min-width: 993px){
  .history li{
    list-style-type: none;
    border-top: 4px solid #3C5067;
  }
  
    .history li:first-child{
        padding-left: 0px;
    }
    
     
    .history li:first-child .date:after{
        left: 63px;
    }
  
    .history .historyDesc{
        border-left: 1px solid #3C5067;        
        /*border-image: url(../img/history/bd2.png) 9 9 stretch;*/
        margin-left: 35px;
        margin-top: 45px;
    }
    
    
    .history .historyDesc:before, .history .historyDesc:after{ 
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 3px;
        border: 3px solid #3C5067;
        position: absolute;      
        left: 48px;
    }
    
    
    .history .historyDesc:before {
        top: 75px;        
    }
    .history .historyDesc:after{         
        margin-top: -20px;        
    }
    
    .history li:first-child .historyDesc:before, .history li:first-child .historyDesc:after{ 
        left: 33px;
    }
    
    .history li:last-child .historyDesc {
        margin-top: 30px;
    }
    
    .historyWrap {
        padding: 5px 20px 20px 20px;
        max-width: 1140px;
        margin: 0 auto;
    }
    
    .history .title {
        margin-left: 140px;
        margin-bottom: 100px;
    }   
    
    
    
    
}

@media (max-width: 992px) {
    
   
    
    .history .date:before{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        top: -62px;
        left: -18px;
  }
  .history .date:after{
       -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        top:23px;
        left: -18px;

  }
  
  .history .date, .history .date-today {
      float: left;
      margin-left: -52px;
  }
  
  
  
  .history .historyDesc {
      width: 80%;
      float: left;
      margin-top: -12px;
      margin-bottom: 50px;
  }
  
  
  
  .history li {
     margin-left: 145px;
      border-left: 4px solid #3C5067;
  }
  
  .history li:first-of-type {
      margin-top: 20px;
  } 
  
  .history .date-today{
    margin-top: -41px;
    margin-left: -59px;
    padding: 32px 10px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    font-weight: bold;
    color: #3C5067;
    background: #B2CE3D;
  }
  
  
  .history .date-today:before{
    position: absolute;
    top: -60px;
    left: -15px;
    content: url(../img/history/date_today_arrow_t.png);
  }
  
  
  .historyWrap {
        padding: 5px 20px 20px 20px;
    }
  
}



/* Mobile*/
@media (min-width: 768px){
    
        
    .brdr_r {
        border-right: solid 1px grey;   
    }

    .brdr_b {   
        border-bottom: solid 1px grey;
    }
    .brdr_t_g {
        border-top: 2px solid #B2CE3D;
    }
}
@media (max-width: 767px){

  .history .historyDesc {
    width: 100%;
  }
  
  .history .historyDesc h3{
    font-weight: bold;
    font-size: 1.17em;
  }
  .history .historyDesc p{
    font-size: 0.8em;
  }
  
  .history li {
    margin: 0px 1rem;
  }
  
  
  .howWeWork_item  {
      border-bottom: 1px solid grey;
  }
  
  .nbb {
      border-bottom: none;
  }
}

/* How We Work */
.howWeWork{
  padding: 80px 0px;
  background: url(../img/bg/fdi_pattern_4.png);
}

.howWeWorkWrap{
  position: relative;
  padding-bottom: 60px;
  background: #fff;
  padding: 65px 40px;
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.howWeWork_item{
  padding: 20px;
  vertical-align: middle;
}
.howWeWork_item>div>div{
  text-align: center;
  vertical-align: middle;
}
.howWeWork_item_title{
  font-size: 1.4em;
  text-align: left;
}
.howWeWork_item_desc{
 font-size: 0.8em;
 text-align: left; 
}
.howWeWork_item img{
  margin: 10px auto;
  text-align: center;
  max-width:  100%;
  height: auto;
}


/* Our skills */
.ourSkills{
  position: relative;  
  width: 90%;
  max-width: 1140px;
  margin: auto;
  border: none !important;
}


.ourSkills ul{
    width: 100%;
    padding: 0px !important;
    background: #fff;
    border: none;
/*    border-bottom: 4px solid #B2CE3D !important;*/
    max-width: 95%;
    border-radius: 0px; 
    margin: 20px auto !important; 
}
.ourSkills ul li{
    width: 50%;
    text-align: left;
    margin: 0px !important;
    padding: 0px !important;
    border: 0px  !important;
}
.ourSkills ul li a{
    width: 100%;
    height: auto;
    font-weight: 700;
    font-size: 2em;
}

.ourSkills .ui-state-default a, .ourSkills .ui-state-default a:link, .ourSkills .ui-state-default a:visited, a.ui-button, .ourSkills a:link.ui-button, .ourSkills a:visited.ui-button, .ourSkills .ui-button{
  color: inherit;
}
.ourSkills .ui-state-default:first-of-type{
  background: #fff !important;
  border-bottom: 4px solid #3C5067 !important;
  border-radius: 0px;
}
.ourSkills .ui-state-active:first-of-type{
  background: #B2CE3D !important;
  border-bottom: 4px solid #B2CE3D !important;
}
.ourSkills .ui-state-default:first-of-type a{
  color: #c3c3c3;
}
.ourSkills .ui-state-active:first-of-type a{
  color: #3C5067;
}
.ourSkills .ui-state-default:last-of-type{
  background: #fff !important;
  color: #c3c3c3 !important;
  border-bottom: 4px solid #B2CE3D !important;
  border-radius: 0px;
}
.ourSkills .ui-state-active:last-of-type{
  background: #3C5067 !important;
  color: #fff !important;
  border-bottom: 4px solid #3C5067 !important;
}

.whatWeCan h2{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.whatWeKnow h2{
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
}

.ourSkills .card:before{
    border-top: solid 4px #3C5067;    
}

.ourSkills .card{
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 20px 10px;
    height: auto;
    /* box-shadow: 0px 0px 10px 0px grey; */
}

.ourSkills .card-img-top{
    text-align: center;
}

.ui-tabs-tab {
    maring-bottom: -2px;    
}


@media (max-width: 992px){
    .ourSkills{
        max-width: 100%;
    }
    
    .ourSkills ul li a{
        font-size: 1.5em;
    }
}

@media (max-width: 767px){
    .ourSkills ul li a{
        font-size: 1.2em;
    }
    
    .ui-tabs-tab {
        maring-bottom: -3px;    
    }
}


.slick-dots {
    bottom: -45px !important;
}

.slick-dots li button:before {    
    font-size: 20px !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
}


.slick-dots li.slick-active button:before, .slick-dots li:hover button:before {
    color: #B2CE3D !important;
}

.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

/* Advantages */
.advantages{
  padding: 60px 10px;
  background: url(../img/history/history.png);
}
.advantagesWrap{
  padding: 20px 50px;
  /* -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
  box-shadow: 0 0 15px rgba(0,0,0,.5); */
  background: #fff;
}
.advantages .card, .advantages .card-img-top{
  border: 0px solid;
  border-radius: 0px;
}
.advantages .card{
  margin-bottom: 40px;
  padding: 20px 0px;
}
.advantages .card-img-top{
  margin-right: auto;
  margin-bottom: 30px;
  width: auto;
  height: 80px;
}
@media (max-width:992px){
    /* .advantages .brdr_r{
      border-bottom: 1px solid grey;
      border-right: none;
  }  */
}

/* Slider 2 */
.career .title{
  width: max-content;
}


.career .carousel-item{
  background: url(../img/bg/212.png);
}
.career .strip{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
}
.career .slide-desc{
  margin: 0px auto;
  padding: 20px 20px;
  width: 80%;
  height: 550px;
  vertical-align: middle;
}
.career .slide-desc h3{
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
}
.career .slide-desc p{
    font-size: 1em;
}
.career .slide-desc .btn{
  font-weight: bold;
  color: #3C5067;
  background: #B2CE3D;
  border-radius: 0px;
  transition: 0.2s linear;
}
/*.career .slide-desc .btn:after{*/
  /*content: " >";*/
/*}*/
.career .slide-desc .btn:focus,
.career .slide-desc .btn:focus{
  color: #4c6582;
  transition: 0.2s linear;
}
.career .slide-desc .btn:hover{
  box-shadow: 0px 0px 15px -2px #B2CE3D;
  transition: 0.2s linear;
}
.career .carousel, .career .carousel-item div{
  overflow: hidden;
}

@media (min-width:440px){
  .career .slide-desc{
    height: 440px;
  }
}

@media (min-width:540px) and (max-width:767px){
  .career .slide-desc, .carousel-item-img{
    height: 420px;
  }
 
}

@media (max-width:767px){
    .carousel-item-img{
        width:100%;
        height: auto;
    }
}

@media (min-width:768px){
  .career .title{
    margin: 0 0 20px 0;
  }
  .career .slide-desc{
    margin: 20px 10px 20px auto;
  }
  .career .slide-desc h3{
    font-size: 1.8em;
  }
  .career .slide-desc p{
    font-size: 1.2em;
  }
  .career .slide-desc{
    height: 550px;
  }
   
}

@media (max-width:601px){
    .slick-prev, .slick-next {
        display: none !important;
    }
}

@media (min-width:933px){
  .career .carousel-item{
    height: 480px;
  }
}
@media (min-width:1140px){
  .career .carousel-item{
    height: 420px;
  }
  
}

/* Footer */
.footer .contacts_wrap .row{
    max-width: 1140px;     
    margin: auto;
}

.footer .contacts_wrap{ 
     background: #3C5067;
     margin: 0px -15px;
     /*background-image: url('../img/footer.png');*/
     background-repeat: no-repeat;
     background-position: right;
     background-size: contain;
}

.footer .contacts_wrap .contact-item {
    min-height: 55px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .contacts_wrap .contact-item img {
    width: 20px;
    margin-right: 10px;
}

.footer .contacts_wrap .contact-item:hover a {
    text-decoration: underline;
}

.footer .contacts_wrap .contact-item a.btn{
    font-weight: bold;
    color: #3C5067;
    background: #B2CE3D;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.2s linear;
    box-shadow: 0px 3px 10px 2px rgba(30,45,63, .75);
}
.footer .contacts_wrap .contact-item a.btn:focus{
    color: #4c6582;
    transition: 0.2s linear;
}
.footer .contacts_wrap .contact-item a.btn:hover{
    background-color: #c0dc4a;
    transition: 0.2s linear;
    text-decoration: none;
}

.footer .contacts_wrap .contact-item a.btn.secondary{
    font-weight: bold;
    color: #B2CE3D;
    background: #3C5067;
    border-color: #B2CE3D;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.2s linear;
    box-shadow: 0px 3px 10px 2px rgba(30,45,63, .75);
}
.footer .contacts_wrap .contact-item a.btn.secondary:hover{
    background-color: #445c77;
    transition: 0.2s linear;
    text-decoration: none;
}

.footer{
  position: absolute;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background: #3C5067;
}

/*
  ========================================
  Footer links
  ========================================
*/
.footerLinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  height: 56px;
}

.footerLinks-link {
  display: block;
  padding: 5px;
  font-size: 1.4em;
  font-weight: 800;
  border-bottom: 2px solid transparent;
  transition: .4s linear;
}

@media (max-width: 460px){
  .footerLinks{
    flex-direction: column;
    height: auto;
  }
}
/*footer links end*/

.footerLinks a:hover{
  text-decoration: none;
  color: #3C5067;
  border-bottom: 2px solid #3C5067;
  transition: .4s linear;
}

.footer .adress{
  width: 100%;
  padding: 20px 20px;
 
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none !important;
    /*background: none  !important;*/
    background: #B2CE3D  !important;
    border-radius: 0px !important;
}

.ui-state-default {    
    background: white !important;
}

.ui-state-active {
    background: #B2CE3D  !important;
}


.h3, h3 {
        font-size: 22px;
    }
    
.ui-widget {
    font-size: 14px;
}

@media (max-width: 992px)
{
    .h3, h3 {
        font-size: 1.5em;
        font-weight: 700;
    }
    
    .ui-widget {
        font-size: 14px;
    }
    .footer .contacts_wrap{ 
     background-position: 520px 0px;
   }
}

@media (max-width: 767px){
    .h3, h3
    {
        font-size: 1.4em;
        font-weight: 700;
    }
    
    .ui-widget
    {
        font-size: 12px;
    }
    
}


.aboutCompany, .products  {
    /* margin-bottom: -100px;  */
}

/* .aboutCompany:after, .ourSkills:after {
    content: '';
    position: relative;	
    bottom: 0px;        
    display: block;
    margin: auto;    
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: white;
    z-index: 2;
} */

.ourSkills:after {
    bottom: -100px;
    margin-top: -100px;
}

.products  {

    /* margin-bottom: -100px;  */
}

/* .productsWrap {
    padding-top: 20px;
} */

/* .products:after {
    content: '';
    position: relative;	
    bottom: -20px;        
    display: block;
    margin: auto;    
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color:  #f2f2f2;
    z-index: 2;
} */

.carousel-control-next, .carousel-control-prev {
    width: 8%;
}


.btn-green{
    font-weight: bold;
    color: #3C5067;
    background: #B2CE3D;
    border-radius: 3px;
    transition: 0.2s linear;
    box-shadow: 0px 3px 10px 2px rgba(30,45,63, .75);
}
.btn-green:focus{
    color: #4c6582;
    transition: 0.2s linear;
    display: block;
    padding: 10px;
    text-align: center;
}
.btn-green:hover{
    background-color: #c0dc4a;
    transition: 0.2s linear;
}

.btn-blue{
    font-weight: bold;
    color: #fff;
    background: #3C5067;
    border-radius: 3px;
    transition: 0.2s linear;
    box-shadow: 0px 1px 7px 1px rgba(30,45,63, .45);
    display: block;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.btn-blue:focus{
    color: #fff;
    transition: 0.2s linear;
}
.btn-blue:hover{
    background-color: #445c77;
    color: #fff;
    transition: 0.2s linear;
}